.options {
	&__wrapper {
		height: 100%;
		max-width: 20rem;
		margin: auto;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
	}

	&__btn {
		display: block;
		margin: 1rem 0;
	}
}
