.modal {
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	&__bg {
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
	}

	&__card {
		z-index: 1;
		padding: 1rem;
		background-color: white;
		border: 5px solid black;
		display: grid;
		grid-gap: 1.4rem;
	}

	&__title {
		margin: 0;
		text-align: center;
	}

	&__sub-title {
		display: flex;
		justify-content: space-evenly;
		color: grey;
		margin-top: -0.7em;
	}

	&__description {
		font-size: 0.7em;
	}

	&__form {
		display: contents;
	}

	&__separator {
		position: relative;
		color: grey;
		text-align: center;

		&-line {
			position: absolute;
			top: 0;
			bottom: 0.5em;
			left: 0;
			right: 0;
			border-bottom: 1px solid grey;
			z-index: -1;
		}

		&-text {
			font-size: 0.7em;
			padding: 0 0.7em;
			background-color: white;
		}
	}
}
