.modal {
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	&__bg {
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
	}

	&__card {
		z-index: 1;
		padding: 1rem;
		background-color: white;
		border: 5px solid black;
		display: grid;
		grid-gap: 1.4rem;
	}

	&__title {
		margin: 0;
	}

	&__form {
		display: contents;
	}
}
