.input {
	flex: 0 1 100%;
	box-sizing: border-box;
	display: flex;
	flex-flow: row wrap;
	justify-content: stretch;
	align-items: stretch;
	align-content: stretch;

	&--column {
		display: grid;
		justify-content: center;
	}

	// &--column &__label {
	// 	text-align: center;
	// }

	&--narrow &__input {
		max-width: 50px;
	}

	&__label {
		font-size: 0.7em;
		color: grey;
		text-transform: capitalize;
	}

	&__input {
		box-sizing: border-box;
		flex: 0 1 100%;
		width: 100%;
		padding: 0.4em;
		margin: 2px;

		&:not(textarea) {
			height: 30px;
		}
	}
}
