.block {
	position: relative;
	min-height: 80px;
	max-width: 300px;
	border: 1px solid black;
	padding: 1em;
	display: grid;
	grid-gap: 1px;
	grid-template-columns: repeat(4, 1fr);
	overflow-x: auto;

	&--one-field {
		grid-template-columns: 1fr;
	}

	&--two-fields {
		grid-template-columns: 3fr 1fr;
	}

	&--three-fields {
		grid-template-columns: 2fr 1fr 1fr;
	}

	&--highlight {
		border: 2px solid blue;
	}
}
