@import "src/style/vars";

$black: rgba(0, 0, 0, 0.2);
$white: white;

.field {
	box-sizing: border-box;
	height: 95%;
	width: 95%;
	overflow: hidden;
	position: relative;
	background: linear-gradient(rgb(225, 230, 253), rgb(200, 209, 246));

	&--recovery {
		&-1 {
			background: linear-gradient(to right, white, rgb(184, 247, 221));
		}
		&-2 {
			background: linear-gradient(
				to right,
				rgb(184, 247, 221),
				rgb(119, 221, 179)
			);
		}
		&-3 {
			background: rgb(119, 221, 179);
		}
	}

	&--active {
		background: rgb(119, 221, 179);
	}

	&--selecting {
		filter: saturate(0.25);

		&:hover {
			filter: brightness(1.2);
		}
	}

	// ---------------- Exercise ---------------

	&__exercise {
		position: absolute;
		height: 100%;
		width: 100%;
		box-sizing: border-box;
		border: 0 solid rgb(11, 117, 16);

		&--intensity-0 {
			border-width: 1px;
		}

		&--intensity-1 {
			border-width: 3px;
		}

		&--intensity-2 {
			border-width: 6px;
		}
		&--intensity-3 {
			border-width: 9px;
		}
	}

	// ---------------- Details ---------------

	&__details {
		position: absolute;
		height: 100%;
		width: 100%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		white-space: nowrap;

		&--planned {
			color: rgb(156, 156, 156);
		}
		&--partial {
			color: rgb(102, 102, 102);
		}
		&--done {
			color: black;
		}
	}
}
