@import "../../vars";

.cell {
	height: $cell-size;
	width: $cell-size;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid silver;
	background-color: white;
	overflow: hidden;

	&--today {
		background-color: rgb(228, 228, 228);
	}

	&--recovery-1 {
		background-color: rgb(241, 200, 200);
	}
	&--recovery-2 {
		background-color: rgb(231, 156, 156);
	}

	&__marker {
		background-color: rgb(117, 11, 11);
		border-radius: 50%;
	}

	&--planned {
		.cell__marker {
			width: 30%;
			height: 30%;
			background-color: transparent;
			border: 1px dotted black;
		}
	}
	&--intensity-1 {
		background-color: rgb(226, 105, 105);
		.cell__marker {
			width: 30%;
			height: 30%;
		}
	}
	&--intensity-2 {
		background-color: rgb(226, 105, 105);
		.cell__marker {
			width: 60%;
			height: 60%;
		}
	}
	&--intensity-3 {
		background-color: rgb(226, 105, 105);
		.cell__marker {
			width: 90%;
			height: 90%;
		}
	}
}
