@import "../../vars";

.cell {
	height: $cell-size;
	width: $cell-size;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid silver;
	background-color: white;
	overflow: hidden;

	&--today {
		background-color: rgb(228, 228, 228);
	}

	&--recovery-1 {
		background-color: rgb(221, 150, 150);
	}
	&--recovery-2 {
		background-color: rgb(221, 150, 150);
	}

	&__marker {
		background-color: rgb(173, 173, 173);
		border-radius: 50%;
	}

	&--intensity-1 {
		.cell__marker {
			width: 30%;
			height: 30%;
		}
	}
	&--intensity-2 {
		.cell__marker {
			width: 60%;
			height: 60%;
		}
	}
	&--intensity-3 {
		.cell__marker {
			width: 90%;
			height: 90%;
		}
	}
}
