html,
body,
#root {
	width: 100vw;
	height: 100vh;
}

#root {
	isolation: isolate;
}

body {
	font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji";
	font-size: 14px;

	@media (min-width: 350px) {
		font-size: 16px;
	}
	@media (min-width: 700px) {
		font-size: 18px;
	}
}

code,
kbd,
samp,
pre {
	font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
}

p {
	line-height: 1.5;
}
