.menu {
	display: flex;
	flex-flow: column nowrap;

	&--h-m {
		max-height: 45vh;
	}
	&--h-xl {
		max-height: 85vh;
	}

	&__header {
		padding-bottom: 1rem;
		border-bottom: 1px solid silver;
	}

	&__content {
		padding: 1rem 0;
		overflow-y: auto;
	}

	&__footer {
		padding-top: 1rem;
		border-top: 1px solid silver;
	}
}
