.tracker-field {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	&__icon {
		width: 70%;
		height: 70%;
	}

	&:hover {
		.tracker-field__icon {
			transform: scale(0.9);
		}
		.tracker-field__name {
			display: initial;
		}
	}

	&__name {
		text-align: center;

		&--small {
			display: none;
			font-size: 0.7em;
		}
	}
}
