@import "src/style/imports";

.tracker-field {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	&__icon {
		width: 75%;
		transition: transform $duration-short ease-in-out;
	}

	&__name {
		text-align: center;
		max-height: 0;
		transition: max-height $duration-short ease-in-out;
		overflow: hidden;

		&--small {
			font-size: $sizing-xs;
		}
	}

	&:hover &__icon {
		transform: scale(0.75);
	}

	&:hover &__name {
		max-height: $sizing-s;
	}
}
