@import "../../vars";

.tracker {
	// background-color: silver;

	&__wrap {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-flow: row nowrap;
		overflow: hidden;
	}

	&__main {
		flex: 1 0 0;
		display: flex;
		flex-flow: row nowrap;
		overflow: scroll;
	}
}

.no-scrollbar {
	-ms-overflow-style: none;

	&::-webkit-scrollbar {
		display: none;
	}
}
