@import "../../vars";

// .tracker {
// }

.table {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: scroll;
	display: flex;
	flex-flow: row nowrap;

	&__main {
		z-index: 1;
		display: flex;
		flex-flow: row nowrap;
	}

	&__aside {
		z-index: 2;
	}

	&__aside-head,
	&__aside-cell {
		width: $cell-size;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid silver;
		background-color: white;
		overflow: hidden;
	}

	&__aside-head {
		height: $head-size;
	}

	&__aside-cell {
		height: $cell-size;
	}
}
