.row-form {
	display: grid;
	grid-gap: 1.4rem;

	&__row {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
	}

	&__row-label {
		flex: 1 1 30%;
	}

	&__text-input--wide {
		flex: 1 1 60%;
	}
}
.levels-section__input,
.details-section__input {
	width: 100px;
	text-align: center;
}

.levels-section__row,
.details-section__row {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}
.levels-section__button,
.details-section__button {
	margin-top: 1rem;
}

.buttons-section {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

	&__button {
		flex: 1 1 45%;
		margin: 2px;
		padding: 0.5em;
	}
}
