// TODO: focuswithin > label: show

.form {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;

	&__item {
		margin: 1rem 0;
	}

	&__alert {
		padding: 1em;
		color: red;
		border: 1px solid red;
	}

	&__group {
		display: flex;
		justify-content: space-between;
	}
}
