* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body,
#root {
	width: 100vw;
	height: 100vh;
}

body {
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	color: $color-text;
	font-size: 14px;

	@media (min-width: 350px) {
		font-size: 16px;
	}
	@media (min-width: 700px) {
		font-size: 18px;
	}
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
