.app {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-flow: column nowrap;
	// justify-content: stretch;
	// justify-items: stretch;
}

main {
	flex: 1 1 0;
	position: relative;
}

.page {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
