@import "../../vars";

.column {
	position: relative;

	&__head {
		box-sizing: border-box;
		height: $head-size;
		width: $cell-size;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;

		position: sticky;
		top: 0;
		z-index: 1;
		background-color: white;
	}

	&__weekDay {
		margin-right: 0.3em;
	}

	&__cell {
		box-sizing: border-box;
		height: $cell-size;
		width: $cell-size;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		position: relative;
	}

	&--today &__head {
		background: silver;
	}

	&--today &__cell {
		background: rgba(0, 0, 0, 0.1);
	}
}
