@use "src/style/library" as *;

.page {
	@include position-absolute-stretch;
	display: flex;
	align-items: center;
	padding: 1rem;
	overflow-x: hidden;
	overflow-y: auto;

	&__content {
		width: 100%;
		max-width: 20rem;
		margin: auto;
	}
}
