.icon-picker {
	margin: 0 0.5rem;

	&__icon {
		display: inline-block;
		width: 40px;
		height: 40px;
		padding: 0.5em;

		&:hover {
			transform: scale(1.2);
		}

		&--selected {
			background-color: rgb(230, 230, 230);
			border: 1px solid black;
		}
	}
}
