@import "src/style/imports";

.spinner {
	&__container {
		@include position-absolute-stretch;
		@include flexBar;
	}

	&__content {
		display: inline-block;
		width: 50px;
		height: 50px;
		border: 3px solid rgba(195, 195, 195, 0.6);
		border-radius: 50%;
		border-top-color: #636767;
		@include animation(spin);
	}
}
