.column {
	display: flex;
	flex-flow: column nowrap;
	justify-content: stretch;
	justify-items: stretch;

	&__item {
		flex: 1 1 100%;
		display: flex;
		justify-content: stretch;
		justify-items: stretch;
		align-items: stretch;
	}

	&--firstChildDominant &__item:not(:first-child) {
		flex: 1 1 0;
	}
}
