.alert {
	min-height: 1em;
	max-height: 10vh;
	overflow-y: auto;
	padding: 1em;
	color: rgb(175, 3, 3);
	border: 2px solid red;
	background-color: rgb(255, 189, 189);
	display: flex;
	justify-content: space-between;

	&__close {
		padding-left: 1rem;
		cursor: pointer;
	}
}
