.protocol-field {
	height: 80px;
	border: 1px solid black;
	padding: 1em;
	display: grid;
	grid-gap: 1px;
	grid-template-columns: repeat(4, 1fr);

	&-col {
		flex: 1 1 1;
		display: flex;
		flex-flow: column nowrap;
		justify-content: stretch;
		justify-items: stretch;

		&--separated {
			margin-right: 1em;
		}
	}

	&-icon {
		flex: 1 0 60%;
		// width: 100%;
	}

	&-name {
		flex: 1 0 40%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
