@import "src/style/imports";

$black: rgba(0, 0, 0, 0.2);
$white: white;
$active: rgb(119, 221, 179);
$neutral: rgb(212, 220, 250);
$neutral-1: lighten($neutral, 1.5);

.entry {
	// vars derived from restLevel
	--background-width-multiplier: 1;
	--background-pos-x-multiplier: 0;

	box-sizing: border-box;
	height: 95%;
	width: 95%;
	overflow: hidden;
	position: relative;
	background: linear-gradient(to right, $neutral, $neutral-1);

	&--recovery {
		background: linear-gradient(to right, $active, $neutral);
		background-size: calc(var(--background-width-multiplier) * var(--cell-size))
			100%;
		background-position-x: calc(
			var(--background-pos-x-multiplier) * var(--cell-size) * -1
		);
	}

	&--activity {
		background: $active;
	}

	&--selecting {
		filter: saturate(0.25);

		&:hover {
			filter: brightness(1.2);
		}
	}

	// ---------------- Exercise ---------------

	&__exercise {
		position: absolute;
		height: 100%;
		width: 100%;
		box-sizing: border-box;
		border: 0 solid rgb(11, 117, 16);

		&--intensity-0 {
			border-width: 1px;
		}

		&--intensity-1 {
			border-width: 3px;
		}

		&--intensity-2 {
			border-width: 6px;
		}
		&--intensity-3 {
			border-width: 9px;
		}
	}

	// ---------------- Details ---------------

	&__details {
		position: absolute;
		height: 100%;
		width: 100%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		white-space: nowrap;

		&--planned {
			color: rgb(156, 156, 156);
		}
		&--partial {
			color: rgb(102, 102, 102);
		}
		&--done {
			color: black;
		}
	}
}
