@use "sass:color";
@use "src/style/library" as *;

// exercise
$active: rgb(110, 221, 175);
$neutral: rgb(212, 220, 250);
$neutral-1: color.adjust($neutral, $lightness: 1.5);

// exercise text
$done: rgb(36, 36, 36);
$partial: rgb(102, 102, 102);
$planned: $partial;

.entry {
	// vars derived from restLevel
	--background-width-multiplier: 1;
	--background-pos-x-multiplier: 0;

	// shared with .entry__excercise
	$entry-radius: $radius-1;

	box-sizing: border-box;
	height: 95%;
	width: 95%;
	overflow: hidden;
	position: relative;
	user-select: none;

	border-radius: $entry-radius;
	background: linear-gradient(to right, $neutral, $neutral-1);
	box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
	transition:
		transform $duration-short,
		box-shadow $duration-short;

	&:hover {
		transform: scale(1.2);
		box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.4);
	}

	&--recovery {
		background: linear-gradient(to right, $active, $neutral);
		background-size: calc(var(--background-width-multiplier) * var(--cell-size)) 100%;
		background-position-x: calc(var(--background-pos-x-multiplier) * var(--cell-size) * -1);
	}

	&--activity {
		background: $active;
	}

	&--selecting {
		filter: saturate(0.25);

		&:hover {
			filter: brightness(1.2);
		}
	}

	// ---------------- Exercise ---------------

	&__exercise {
		position: absolute;
		height: 100%;
		width: 100%;
		box-sizing: border-box;
		border-radius: $entry-radius;

		--r: 0; // blur-radius, offset x & y
		--o: 0; // opacity (black only)
		// prettier-ignore
		box-shadow: 
			inset calc(var(--r) * -1) calc(var(--r) * -1) var(--r) 0 rgba(0, 0, 0, var(--o)),
			inset var(--r) var(--r) var(--r) 0 rgba(255, 255, 255, .8);

		&--intensity-0 {
			--r: 1px;
			--o: 0.2;
		}

		&--intensity-1 {
			--r: 2px;
			--o: 0.3;
		}

		&--intensity-2 {
			--r: 3px;
			--o: 0.4;
		}
		&--intensity-3 {
			--r: 4px;
			--o: 0.5;
		}
	}

	// ---------------- Details ---------------

	&__details {
		position: absolute;
		height: 100%;
		width: 100%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		white-space: nowrap;

		&--planned {
			color: $planned;
			// font-style: italic;
			font-weight: 300;
		}
		&--partial {
			color: $partial;
		}
		&--done {
			color: $done;
			text-shadow:
				-1px -1px 1px rgba(0, 0, 0, 0.2),
				1px 1px 1px rgba(255, 255, 255, 0.4);
		}
	}
}
