@import "src/style/imports";

.header {
	width: 100vw;
	padding: $spacing-xxs;

	&__wrap {
		height: 100%;
		max-width: $screen-l;
		margin: auto;
		@include flexBar;

		@include minWidth("s") {
			justify-content: space-between;
		}
	}

	&__logo {
		display: none;

		@include minWidth("s") {
			padding: $spacing-xs;
			@include flexBar;
		}
	}

	&__nav {
		height: 100%;
		width: 100%;
		max-width: $screen-s;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		justify-content: stretch;
		justify-items: stretch;
	}
}

.nav-link {
	flex: 1 1 100%;
	text-decoration: none;
	color: $color-text;
	@include flexBar;
	padding: $spacing-xs $spacing-xxs;

	@include minWidth("xs") {
		padding: $spacing-m;
	}

	&__icon {
		// smaller on mobile
		transition: transform $duration-short;
		transform: scale(0.9);
		@include minWidth("xs") {
			transform: none;
		}
	}

	&__text {
		margin-left: $spacing-xs;
		font-size: $sizing-s;

		// Hidden on mobile && not parent hover
		width: 0;
		opacity: 0;
		transform: translateX(-10%) scale(0.5);
		transform-origin: left;
		transition: none;

		@include minWidth("s") {
			width: auto;
			transform: translateX(0); // `none` blocks :after transform
			opacity: 1;

			// Custom underline on desktop && hover
			&:after {
				content: "";
				display: block;
				position: absolute;
				bottom: -0.1em;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: black;
				transform: scaleX(0);
				transform-origin: left;
				transition: transform $duration-short;
			}
		}
	}

	&:hover &__text {
		transition: transform $duration-short, opacity $duration-short;
		width: auto;
		opacity: 1;
		transform: translateX(0); // `none` causes a bug

		@include minWidth("s") {
			&:after {
				transform: none;
			}
		}
	}
}
