@import "./vars";

// ------ positioning ------

@mixin position-absolute-stretch {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

@mixin full-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

// ------ display ------

@mixin flexBar {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

// ------ media queries ------

@mixin minWidth($width) {
	@if $width == "xs" {
		@media (min-width: $screen-xs) {
			@content;
		}
	} @else if $width == "s" {
		@media (min-width: $screen-s) {
			@content;
		}
	} @else if $width == "m" {
		@media (min-width: $screen-m) {
			@content;
		}
	} @else if $width == "l" {
		@media (min-width: $screen-l) {
			@content;
		}
	} @else if $width == "xl" {
		@media (min-width: $screen-xl) {
			@content;
		}
	}
}

@mixin maxWidth($width) {
	@if $width == "xs" {
		@media (max-width: $screen-xs -1px) {
			@content;
		}
	} @else if $width == "s" {
		@media (max-width: $screen-s -1px) {
			@content;
		}
	} @else if $width == "m" {
		@media (max-width: $screen-m -1px) {
			@content;
		}
	} @else if $width == "l" {
		@media (max-width: $screen-l -1px) {
			@content;
		}
	} @else if $width == "xl" {
		@media (max-width: $screen-xl -1px) {
			@content;
		}
	}
}

// ------ animation ------

@mixin animation($keyframes) {
	animation: $keyframes 1s linear infinite;
	-webkit-animation: $keyframes 1s linear infinite;
}
