@import "src/style/imports";

.app {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	flex-flow: column nowrap;

	&__background {
		$angle: 135deg; // temp-unused: vars unsupported by gradient-preview tool
		$duration: 6s;

		background-color: var(--background-color);
		background-image: var(--background-image);
		background-attachment: fixed;

		&--animated {
			background-size: 200% 200%;
			// background-size: 1000% 1000%;
			@include animation(slide, $duration);
		}
	}

	main {
		flex: 1 1 0;
		position: relative;
		background: inherit;
	}
}
