@import "src/style/vars";

.tracker-table {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	flex: 1 0 0;
	display: flex;
	flex-flow: row nowrap;
	overflow: scroll;

	&__side {
		position: sticky;
		left: 0;
		right: 100%;
		z-index: 999;
	}

	&__fake-padding {
		flex: 0 0 auto;
	}

	&__content {
		flex: 0 0 auto;
		display: flex;
		flex-flow: row nowrap;
	}
}

// TEMP
.no-scrollbar {
	-ms-overflow-style: none;

	&::-webkit-scrollbar {
		display: none;
	}
}
