@import "src/style/imports";

.tracker-table {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	overflow-x: scroll;
	overflow-y: auto;
	background: inherit;

	&__side {
		position: sticky;
		z-index: 999;
		left: 0;
		right: 100%; ///
		height: fit-content;
		background: inherit;
	}

	&__fake-padding {
		flex: 0 0 auto;
	}

	&__content {
		flex: 0 0 auto;
		display: flex;
		flex-flow: row nowrap;
		background: inherit;
	}
}

// TEMP
.no-scrollbar {
	-ms-overflow-style: none;

	&::-webkit-scrollbar {
		display: none;
	}
}
