@import "src/style/imports";

.tracker-column {
	position: relative;

	&__head {
		box-sizing: border-box;
		height: $head-height;
		width: $cell-size;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;

		position: sticky;
		top: 0;
		z-index: 1;
		background-color: white;
		color: $color-text-weak;
		user-select: none;

		&-item {
			padding: 0.1em;
		}
	}

	&--today &__head {
		background: rgb(235, 234, 234);
		color: $color-text-strong;
	}

	&__cell {
		box-sizing: border-box;
		height: $cell-size;
		width: $cell-size;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		position: relative;
	}

	&--today &__cell {
		background: rgba(0, 0, 0, 0.1);
	}

	&--side &__head,
	&--side &__cell {
		width: $side-width;
		min-width: 50px;
		background-color: white;
	}
}
