@import "src/style/vars";

.tracker-column {
	position: relative;

	&--side {
		position: sticky;
		left: 0;
		right: 100%;
		z-index: 999;
	}

	&__head {
		box-sizing: border-box;
		height: $head-height;
		width: $cell-size;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;

		position: sticky;
		top: 0;
		z-index: 1;
		background-color: white;
	}

	&__weekDay {
		margin-right: 0.3em;
	}

	&__cell {
		box-sizing: border-box;
		height: $cell-size;
		width: $cell-size;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		position: relative;

		//
		background-color: white;
	}

	&--today &__head {
		background: silver;
	}

	&--today &__cell {
		background: rgba(0, 0, 0, 0.1);
	}
}
