@use "src/style/library" as *;

$bg-color-side: rgba(255, 255, 255, 0.5);
$bg-color-side-head: $bg-color-side;
$bg-color-content-head: $bg-color-side;
$bg-color-content-head-today: rgba(255, 255, 255, 0.2);

$gap: 4px; // $spacing-xxs;

.tracker-column {
	position: relative;
	background: inherit;

	&__head {
		position: sticky;
		top: 0;
		z-index: 1;
		height: $head-height;
		width: $cell-size;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		padding-bottom: calc($gap / 2);
		margin-bottom: calc(-1 * $gap / 2);
		background: inherit;
		color: $color-text-weak;
		user-select: none;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: -1;
			background: $bg-color-content-head;
		}

		&:not(.tracker-column--side > &):before {
			height: calc(100% - $gap);
		}

		&-item {
			padding: 0.1em;
		}
	}

	&__cell {
		box-sizing: border-box;
		height: $cell-size;
		width: $cell-size;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;

		&:hover {
			z-index: 99;
		}
	}

	// --- Today Col ---

	// &--today {
	// 	margin-inline: $spacing-xxs;
	// 	background: $color-today;
	// 	background: $column-today-background;
	// }

	&--today &__head {
		color: $color-text-strong;
	}

	&--today &__head::before {
		background: $bg-color-content-head-today !important;
	}

	// --- Aside Col ---

	&--side {
		z-index: 999;
		width: $side-width;
		min-width: 50px;
		background: inherit;
	}

	&--side &__head {
		width: 100%;
		background: inherit;

		&::before {
			height: 101%;
			clip-path: polygon(
				0 0,
				100% 0,
				100% calc(100% - $gap),
				calc(100% - $gap) calc(100% - $gap),
				calc(100% - $gap) 100%,
				0 100%
			);
			background: $bg-color-side-head;
		}
	}

	&--side &__body {
		padding-right: $gap;
	}

	&--side &__cell {
		width: 100%;
		background: $bg-color-side;
		cursor: pointer;
	}
}
