@import "../../vars";

$black: rgba(0, 0, 0, 0.2);
$white: white;

.field {
	box-sizing: border-box;
	height: 95%;
	width: 95%;
	overflow: hidden;

	position: relative;
	background: linear-gradient(rgb(225, 230, 253), rgb(200, 209, 246));

	&--recovery {
		&-1 {
			background: linear-gradient(to right, white, rgb(184, 247, 221));
		}
		&-2 {
			background: linear-gradient(
				to right,
				rgb(184, 247, 221),
				rgb(119, 221, 179)
			);
		}
	}

	&--intensity {
		background: rgb(119, 221, 179);
	}

	&__plan,
	&__exercise {
		position: absolute;
		height: 100%;
		width: 100%;
	}

	&__plan {
		width: 30%;
		height: 30%;
		border: 1px dotted black;
	}

	&__exercise {
		box-sizing: border-box;
		border: 0 solid rgb(11, 117, 16);

		&--intensity-1 {
			border-width: 3px;
		}

		&--intensity-2 {
			border-width: 6px;
		}
		&--intensity-3 {
			border-width: 9px;
		}
	}

	&__details {
		position: absolute;
		height: 100%;
		width: 100%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		white-space: nowrap;
	}
}
