@import "src/style/imports";

.modal {
	@include full-screen;
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;

	&__bg {
		@include position-absolute-stretch;
		z-index: 0;
	}

	&__card {
		z-index: 1;
		max-width: 20rem;
		max-height: 90vh;
		padding: 1rem;

		// theme
		background-color: white;
		border: 5px solid black;
	}
}
