@import "src/style/imports";

.modal {
	@include full-screen;
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: inherit;
	visibility: hidden;

	& > * {
		visibility: visible;
	}

	&__bg {
		@include position-absolute-stretch;
		z-index: 0;
		backdrop-filter: blur(2px);
	}

	&__card {
		z-index: 1;
		width: 96vw;
		max-height: 96vh;
		padding: $spacing-m $spacing-xs;

		background-color: inherit;
		box-shadow: $box-shadow-container;
		border-radius: $radius-1;

		@include minWidth("xs") {
			width: 100vw;
			max-width: 20rem;
			padding: $spacing-l $spacing-m;
		}

		@include minWidth("s") {
			width: auto;
			max-width: unset;
			padding: $spacing-l;
		}
	}
}
